*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #f1f1f1;
}

.header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 20px 60px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header p {
    margin: 5px 0 0;
    font-size: 16px;
}

.header input {
    width: 90%;
    height: 60px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #DEDEDE;
    padding-left: 10px;
}

.div-tasks {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0px 40px 10px 40px;
}

#tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#tasks li {
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 5px 2px #00000071;
}

#tasks h2, #tasks p {
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions box-icon {
    fill: #8f8f8f;
    cursor: pointer;
}
.actions box-icon:hover {
    fill: #dc3545;
}